{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% for skill in skills.toolset %}
    <div class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      <div class="tags">
        {% for tag in skill.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <!--//tags-->
      {% if skill.level %}
      {% assign skill_level = 'width: ' | append: skill.level %}
      <!-- <div class="level-bar">
        <div class="level-bar-inner" style="{{ skill_level }}"></div>
      </div> -->
      <!--//level-bar-->
      {% endif %}
    </div>
    <!--//item-->
    {% endfor %}
  </div>
</section>
<!--//skills-section-->
{% endif %}
